/* Reset some default browser styles */

html {
  height: 100%;
}

body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

/* Set a background color */
body {
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
}





